__pycache__/
*.pyc
.coverage
.pytest_cache/
build/
*.egg-info/
.pybuild/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper
debian/*.debhelper.log
debian/tmp/
debian/python3-keel-cloud/
debian/keel-cloud-api/
debian/keel-overlay-cloud/
dist/
